body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.producto {
    background: white;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s;
}

.producto:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.producto img { 
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.producto img:hover {
    transform: scale(1.1);
}

.producto h3 {
    margin: 10px 0;
    font-size: 18px;
}

.producto p {
    font-size: 14px;
    color: #666;
}

.producto p strong {
    color: #000;
    font-size: 16px;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background 0.3s, transform 0.2s;
}

button:hover {
    background-color: #ff5722;
    transform: scale(1.1);
}

footer {
    margin-top: 20px;
    background: #333;
    color: white;
    padding: 10px;
    font-size: 14px;
    letter-spacing: 1px;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

img[alt=""] {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
